{% extends 'General/dashboard.html' %}

{% block title %} Empleado {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Editar Empleado
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Empleado' %}">Empleado</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <h3 class="card-title">Información general</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.first_name.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.first_name}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.last_name.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.last_name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.FC_NACIMIENTO.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.FC_NACIMIENTO}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.email.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.email}}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <small class="form-text d-block text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.ST_DUI_USUARIO.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.ST_DUI_USUARIO}}
                            {% if form.ST_DUI_USUARIO.errors %}
                                {% for error in form.ST_DUI_USUARIO.errors %}
                                    <small class="form-text d-block text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">{{form.ST_NIT_USUARIO.label}}</label>
                            {{form.ST_NIT_USUARIO}}
                            {% if form.ST_NIT_USUARIO.errors %}
                                {% for error in form.ST_NIT_USUARIO.errors %}
                                <small class="form-text d-block text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">{{form.ST_AFP_USUARIO.label}}</label>
                            {{form.ST_AFP_USUARIO}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">{{form.ST_ISSS_USUARIO.label}}</label>
                            {{form.ST_ISSS_USUARIO}}
                        </div>
                    </div>
                    <h3 class="card-title">Información de cuenta</h3>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.username.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.username}}
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                <small class="form-text d-block text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <h3 class="card-title">Documentos del Empleado</h3>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label w-100">Archivo NIT</label>
                            {{form_documents.NIT.ST_DOC_USUARIO}}
                            <small class="form-text d-block text-muted">No es obligatorio.</small>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label w-100">Archivo DUI</label>
                            {{form_documents.DUI.ST_DOC_USUARIO}}
                            <small class="form-text d-block text-muted">No es obligatorio.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label w-100">Archivo AFP</label>
                            {{form_documents.AFP.ST_DOC_USUARIO}}
                            <small class="form-text d-block text-muted">No es obligatorio.</small>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label w-100">Archivo ISSS</label>
                            {{form_documents.ISSS.ST_DOC_USUARIO}}
                            <small class="form-text d-block text-muted">No es obligatorio.</small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="{% url 'Empleado' %}" class="btn btn-danger ms-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var fechaActual = moment('{{ form.FC_NACIMIENTO.value | date:"Y-m-d" }}', 'YYYY-MM-DD');
            $("input[name=\"FC_NACIMIENTO\"]").daterangepicker({
                maxDate: moment().subtract(18, 'years').endOf('day'),
                startDate: fechaActual,
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'DD/MM/YYYY',
                    separator: ' / ',
                    applyLabel: 'Seleccionar',
                    cancelLabel: 'Cancelar',
                    fromLabel: 'Desde',
                    toLabel: 'Hasta',
                    customRangeLabel: 'Personalizado',
                    weekLabel: 'S',
                    daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                    monthNames: [
                        'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                    ],
                    firstDay: 1
                }
            });
        });
    </script>
{% endblock %}