{% extends 'General/dashboard.html' %}

{% block title %} Empleado {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Gestión de Empleado
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Empleado' %}">Empleado</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    
</script>
{% endblock %}