{% extends 'General/dashboard.html' %}

{% block title %} Empleado {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Gestión de Empleado
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Empleado' %}">Empleado</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-end">
                    <a href="#" class="me-1">
                        Nuevo Empleado
                        <i class="align-middle" data-feather="plus"></i>
                    </a>
                </div>
                <h5 class="card-title mb-0">Empleados</h5>
            </div>
            <div class="card-body">
                <table id="tbl-Empleados" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nombre de Usuario</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        initTable("#tbl-Empleados","empleados");
    });
</script>
{% endblock %}