{% extends 'General/dashboard.html' %}

{% block title %} Cliente {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Gestión de Cliente
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Cliente' %}">Cliente</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-end">
                    <a href="{% url 'addCliente' %}" class="me-1">
                        Nuevo cliente
                        <i class="align-middle" data-feather="plus"></i>
                    </a>
                </div>
                <h5 class="card-title mb-0">Clientes</h5>
            </div>
            <div class="card-body">
                <table id="tbl-Clientes" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Tipo cliente</th>
                            <th>Documento</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td>{{cliente.SK_CLIENTE}}</td>
                            <td>{{cliente.ST_NOMBRE_CLIENTE}}</td>
                            <td>
                                {% if cliente.BN_TIPO_CLIENTE %} Jurídico
                                {% else %} Natural 
                                {% endif %}
                            </td>
                            <td>{{cliente.ST_DOC_CLIENTE}}</td>
                            <td class="text-nowrap">
                                <a class="btn btn-primary" href="{% url 'detailsCliente' cliente.SK_CLIENTE %}"><i class="far fa-eye"></i></a>
                                <a class="btn btn-info" href="{% url 'editCliente' cliente.SK_CLIENTE %}"><i class="far fa-edit"></i></a>
                                
                                    {% if cliente.BN_ESTA_ACTIVO %}
                                        <a class="btn btn-danger" data-url="{% url 'changeStatusCliente' cliente.SK_CLIENTE %}" data-action="desactivar" onclick="confirmStatus(this)"><i class="fas fa-user-slash"></i></a>
                                    {% else %}
                                        <a class="btn btn-success" data-url="{% url 'changeStatusCliente' cliente.SK_CLIENTE %}" data-action="activar" onclick="confirmStatus(this)"><i class="fas fa-user"></i></a>
                                    {% endif %}
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        initTable("#tbl-Clientes","clientes");
    });

    function confirmStatus(link) {
        var url = link.getAttribute('data-url');
        var action = link.getAttribute('data-action');
        showConfirm(url,action,"cliente");
    }
</script>
{% endblock %}