{% extends 'General/dashboard.html' %}

{% block title %} Dashboard {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        ¡Bienvenido, {{request.user.first_name}} {{request.user.last_name}}!
    </h1>
</div>

<div class="row">
    <div class="col-md-6 col-lg-3 col-xl">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Proyectos registrados</h5>
                    </div>

                    <div class="col-auto">
                        <div class="avatar">
                            <div class="avatar-title rounded-circle bg-primary-dark">
                                <i class="align-middle" data-feather="save"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="display-5 mt-1 mb-3">{{registrados}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Proyectos en ejecución</h5>
                    </div>

                    <div class="col-auto">
                        <div class="avatar">
                            <div class="avatar-title rounded-circle bg-primary-dark">
                                <i class="align-middle" data-feather="truck"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="display-5 mt-1 mb-3">{{ejecución}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Proyectos finalizados</h5>
                    </div>

                    <div class="col-auto">
                        <div class="avatar">
                            <div class="avatar-title rounded-circle bg-primary-dark">
                                <i class="align-middle" data-feather="dollar-sign"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="display-5 mt-1 mb-3">{{finalizados}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Proyectos completados</h5>
                    </div>

                    <div class="col-auto">
                        <div class="avatar">
                            <div class="avatar-title rounded-circle bg-primary-dark">
                                <i class="align-middle" data-feather="inbox"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="display-5 mt-1 mb-3">{{completados}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-xxl-4 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Clientes</h5>
            </div>
            <div class="card-body">
                <div class="align-self-center chart chart-lg">
                    <canvas id="chartjs-clientes"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xxl-4 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Tipos de proyectos</h5>
            </div>
            <div class="card-body">
                <div class="align-self-center chart chart-lg">
                    <canvas id="chartjs-tipo-proyectos"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var data_bar_1 = JSON.parse("{{ tp|escapejs }}");
        var labels_bar_1 = data_bar_1.map(function(item) {
            return item.FK_TIPO_SERVICIO__ST_TIPO_SERVICIO;
        });
        var values_bar_1 = data_bar_1.map(function(item) {
            return item.cant;
        });
        var data_bar_2 = JSON.parse("{{ cliente|escapejs }}");
        var labels_bar_2 = data_bar_2.map(function(item) {
            return item.FK_CLIENTE__ST_NOMBRE_CLIENTE;
        });
        var values_bar_2 = data_bar_2.map(function(item) {
            return item.cant;
        });
        // Bar chart
        new Chart(document.getElementById("chartjs-tipo-proyectos"), {
            type: 'bar',
                data: {
                    labels: labels_bar_1,
                    datasets: [{
                        label: 'Proyectos',
                        data: values_bar_1,
                        backgroundColor: 'rgba(0, 123, 255, 0.5)',
                        borderColor: 'rgba(0, 123, 255, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
        });
        // Bar chart
        new Chart(document.getElementById("chartjs-clientes"), {
            type: 'bar',
                data: {
                    labels: labels_bar_2,
                    datasets: [{
                        label: 'Clientes',
                        data: values_bar_2,
                        backgroundColor: 'rgba(0, 200, 255, 0.5)',
                        borderColor: 'rgba(0, 123, 255, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
        });
    });
</script>
{% endblock %}