{% extends 'General/dashboard.html' %}

{% block title %} Administrador {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Gestión de Administrador
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Administrador' %}">Administrador</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-end">
                    <a href="{% url 'AddAdmin' %}" class="me-1">
                        Nuevo Administrador
                        <i class="align-middle" data-feather="plus"></i>
                    </a>
                </div>
                <h5 class="card-title mb-0">Administradores</h5>
            </div>
            <div class="card-body">
                <table id="tbl-Admin" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nombre de Usuario</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{admin.first_name}}</td>
                                <td>{{admin.last_name}}</td>
                                <td>{{admin.username}}</td>
                                <td>
                                    {% if admin.is_active %}
                                        <span class="badge rounded-pill bg-success py-2 px-3">Activo</span>
                                    {% else %}
                                        <span class="badge rounded-pill bg-danger py-2 px-3">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'EditAdmin' admin.id %}"><i class="far fa-eye"></i></a>
                                    <a class="btn btn-info"><i class="far fa-edit"></i></a>
                                    {% if admin.is_active %}
                                        <a class="btn btn-danger" href="{% url 'ChangeStatusAdmin' admin.id %}"><i class="fas fa-user-slash"></i></a>
                                    {% else %}
                                        <a class="btn btn-success" href="{% url 'ChangeStatusAdmin' admin.id %}"><i class="fas fa-user"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        initTable("#tbl-Admin","administradores");
    });
</script>
{% endblock %}