{% extends 'General/dashboard.html' %}

{% block title %} Administrador {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Gestión de Administrador
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Administrador' %}">Administrador</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Lista de Administradores</h5>
                <h6 class="card-subtitle text-muted">Tabla donde muestra la información de los administradores del sistema.</h6>
            </div>
            <div class="card-body">
                <table id="datatables-basic" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nombre de Usuario</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Kevin</td>
                            <td>Agreda</td>
                            <td>kev.agr</td>
                            <td><span class="badge rounded-pill bg-success py-2 px-3">Activo</span></td>
                            <td>
                                <a class="btn btn-primary"><i class="far fa-eye"></i></a>
                                <a class="btn btn-info"><i class="far fa-edit"></i></a>
                                <a class="btn btn-danger"><i class="fas fa-user-slash"></i></a>
                                <a class="btn btn-success"><i class="fas fa-user"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}