{% extends 'General/dashboard.html' %}

{% block title %} Bandeja de Reportes {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Generación de Reportes
    </h1>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Filtros</h5>
            </div>
            <div class="card-body">
                <form method="POST" target="_blank">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label for="inputEmail4">
                                {{form.cliente.label}}
                            </label>
                            {{form.cliente}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.tipo.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.tipo}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.estado.label}}
                            </label>
                            {{form.estado}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <div class="form-check form-switch">
                            <label for="inputEmail4">
                                {{form.todos_proyectos.label}}
                            </label>
                            {{form.todos_proyectos}}
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Rango de fecha</h5>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.fechaDesde.label}}
                            </label>
                            {{form.fechaDesde}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.fechaHasta.label}}
                            </label>
                            {{form.fechaHasta}}
                        </div>
                        {% if form.errors %}
                            {% for error in errors %}
                                <small class="form-text d-block text-danger">{{ error }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button  type="submit" class="btn btn-success">Generar Reporte</button>
                </form>
            </div>
    </div>
</div>
{% endblock %}

{% block js %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        $(".data-picker").daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            timePicker: true, // Habilita la selección de horas
            timePickerIncrement: 30,
            locale: {
                format: 'DD/MM/YYYY',
                separator: ' / ',
                applyLabel: 'Seleccionar',
                cancelLabel: 'Cancelar',
                fromLabel: 'Desde',
                toLabel: 'Hasta',
                customRangeLabel: 'Personalizado',
                weekLabel: 'S',
                daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                monthNames: [
                    'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto',
                    'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                ],
                firstDay: 1
            }
        });
        $(".select2").each(function() {
            $(this)
                .wrap("<div class=\"position-relative\"></div>")
                .select2({
                    placeholder: "Seleccione una opción",
                    dropdownParent: $(this).parent()
                });
        })
    });

    var todosProyectosCheckbox = document.getElementById("id_todos_proyectos");
    var fechaDesdeInput = document.getElementById("id_fechaDesde");
    var fechaHastaInput = document.getElementById("id_fechaHasta");

    // Función para habilitar o deshabilitar campos de fecha según la selección del usuario
    function toggleFechaInputs() {
        if (todosProyectosCheckbox.checked) {
            fechaDesdeInput.disabled = true;
            fechaHastaInput.disabled = true;
        } else {
            fechaDesdeInput.disabled = false;
            fechaHastaInput.disabled = false;
        }
    }

    // Llama a la función al cargar la página y cuando el checkbox cambia
    window.onload = toggleFechaInputs;
    todosProyectosCheckbox.addEventListener("change", toggleFechaInputs);
  </script>
{% endblock %}
