{% extends 'General/dashboard.html' %}

{% block title %} Material {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Gestión de Material
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Material' %}">Material</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-end">
                    {% if perms.Material.add_material %}
                        <a href="{% url 'MaterialAdd' %}" class="me-1">
                            Nuevo Material
                            <i class="align-middle" data-feather="plus"></i>
                        </a>
                    {% endif %}
                </div>
                <h5 class="card-title mb-0">Materiales</h5>
            </div>
            <div class="card-body">
                <table id="tbl-Materiales" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <!--Celda aparece si se tiene 1/2 privilegios-->
                            {% if perms.Material.change_material or perms.Material.delete_material%}
                                <th>Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for material in materiales %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{material.ST_NOMBRE_MATERIAL}}</td>
                        <td>{{material.ST_DESCRIPCION_MATERIAL}}</td>
                        <!--Celda aparece si se tiene 1/2 privilegios-->
                        {% if perms.Material.change_material or perms.Material.delete_material%}
                            <td class="text-nowrap">
                                <!--Privilegio para editar material-->
                                {% if perms.Material.change_material %}
                                    <a class="btn btn-info" href="{% url 'EditMaterial' material.pk %}"><i class="far fa-edit"></i></a>
                                {% endif %}
                                <!--Privilegio para eliminar material-->
                                {% if perms.Material.delete_material %}
                                    <a class="btn btn-danger" href="{% url 'DeleteMaterial' material.pk %}"><i class="fas fa-trash"></i></a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        initTable("#tbl-Materiales","materiales");
    });
</script>
{% endblock %}