{% extends 'General/dashboard.html' %}

{% block title %} Registro de Proyecto {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Registro de Proyectos
    </h1>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Información general</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="inputEmail4">
                                    {{form.FK_CLIENTE.label}}
                                </label>
                                {{form.FK_CLIENTE}}
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="inputEmail4">
                                    {{form.FK_TIPO_SERVICIO.label}}
                                </label>
                                {{form.FK_TIPO_SERVICIO}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="inputEmail4">
                                    {{form.ST_DIRECCION_PROYECTO.label}}
                                </label>
                                {{form.ST_DIRECCION_PROYECTO}}
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="inputEmail4">
                                    {{form.ST_DESCRIPCION_PROYECTO.label}}
                                </label>
                                {{form.ST_DESCRIPCION_PROYECTO}}
                            </div>
                        </div>
                        <div class="row justify-content-end mt-3">
                            <div class="col-auto">
                                <a class="btn btn-danger" href="{% url 'Proyecto' %}">Cancelar</a>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-success">Siguiente</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        $(".select2").each(function() {
            $(this)
                .wrap("<div class=\"position-relative\"></div>")
                .select2({
                    placeholder: "Seleccione una opción",
                    dropdownParent: $(this).parent()
                });
        })
    });
</script>
{% endblock %}