{% extends 'General/dashboard.html' %}
{% load static %}

{% block title %} Proyecto N° {{proyecto.SK_PROYECTO}} {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Detalle del Proyecto.
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Proyecto' %}">Administración de Proyecto</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalle</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Información general.</h4>
            </div>
            <div class="card-body">
                <table class="table table-sm my-2">
                    <tbody>
                        <tr>
                            <th>Nombre del cliente:</th>
                            <td>{{proyecto.FK_CLIENTE}}</td>
                        </tr>
                        <tr>
                            <th>Descripción:</th>
                            <td>{{proyecto.ST_DESCRIPCION_PROYECTO}}</td>
                        </tr>
                        <tr>
                            <th>Dirección:</th>
                            <td>{{proyecto.ST_DIRECCION_PROYECTO}}</td>
                        </tr>
                        <tr>
                            <th>Estado actual:</th>
                            <td>{{proyecto.FK_ESTADO_PROYECTO}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Información especifico.</h4>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="tab">
            <ul class="nav nav-tabs" role="tablist">
                {% if equipos %}
                    <li class="nav-item"><a class="nav-link active" href="#tab-equipo" data-bs-toggle="tab" role="tab">Equipo</a></li>
                {% endif %}
                {% if personal %}
                    <li class="nav-item"><a class="nav-link" href="#tab-empleado" data-bs-toggle="tab" role="tab">Empleado</a></li>
                {% endif %}
                {% if materiales %}
                    <li class="nav-item"><a class="nav-link" href="#tab-material" data-bs-toggle="tab" role="tab">Material</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {% if equipos %}
                    <div class="tab-pane active" id="tab-equipo" role="tabpanel">
                        <h4 class="tab-title">Equipo asignado.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget condimentum
                            rhoncus. Aenean massa. Cum sociis natoque penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.
                        </p>
                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                            justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                            justo.</p>
                    </div>
                {% endif %}
                {% if personal %}
                    <div class="tab-pane" id="tab-empleado" role="tabpanel">
                        <h4 class="tab-title">Empleado asignado.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget condimentum
                            rhoncus. Aenean massa. Cum sociis natoque penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.
                        </p>
                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                            justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                            justo.</p>
                    </div>
                {% endif %}
                {% if materiales %}
                    <div class="tab-pane" id="tab-material" role="tabpanel">
                        <h4 class="tab-title">Material asignado.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget condimentum
                            rhoncus. Aenean massa. Cum sociis natoque penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.
                        </p>
                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                            justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                            justo.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}