{% extends 'General/dashboard.html' %}

{% block title %} Administración de Proyecto {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Administración de Proyectos
    </h1>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Filtros de búsqueda</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.cliente.label}}
                            </label>
                            {{form.cliente}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.estado.label}}
                            </label>
                            {{form.estado}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.fecha_inicio.label}}
                            </label>
                            {{form.fecha_inicio}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.fecha_fin.label}}
                            </label>
                            {{form.fecha_fin}}
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Resultados</h5>
            </div>
            <div>
                {% if proyectos %}
                    {% for proyecto in proyectos %}
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Card with links</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>
                        <h2>No hay resultados, intente de nuevo</h2>
                    </div>
                {% endif %}

                <nav class="p-2" aria-label="Page navigation sample">
                    {% if proyectos.has_other_pages %}
                      <ul class="pagination justify-content-end">
                            {% if proyectos.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{proyectos.previous_page_number}}"><i class="fas fa-angle-left"></i></a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                            {% endif %}
                            {% for i in proyectos.paginator.page_range %}
                                {% if proyectos.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if proyectos.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{proyectos.next_page_number}}"><i class="fas fa-angle-right"></i></a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                            {% endif %}
                      </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        initTable("#tbl-Materiales","materiales");

        $(".select2").each(function() {
            $(this)
                .wrap("<div class=\"position-relative\"></div>")
                .select2({
                    placeholder: "Seleccione una opción",
                    dropdownParent: $(this).parent()
                });
        })

        $("#id_fecha_inicio").daterangepicker({
            singleDatePicker: true,
            showDropdowns: true
        });

        $("#id_fecha_fin").daterangepicker({
            singleDatePicker: true,
            showDropdowns: true
        });
    });
</script>
{% endblock %}