{% extends 'General/dashboard.html' %}

{% block title %} Administración de Proyecto {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Administración de Proyectos
    </h1>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Filtros de búsqueda</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label for="inputEmail4">
                                {{form.cliente.label}}
                            </label>
                            {{form.cliente}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.tipo.label}}
                            </label>
                            {{form.tipo}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.estado.label}}
                            </label>
                            {{form.estado}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Buscar</button>
                    <a type="button" class="btn btn-secondary" href="{% url "Proyecto" %}">Limpiar</a>
                </form>
            </div>
    </div>
</div>
{% endblock %}
