{% extends 'General/dashboard.html' %}

{% block title %} Administración de Proyecto {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Administración de Proyectos
    </h1>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Filtros de búsqueda</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label for="inputEmail4">
                                {{form.cliente.label}}
                            </label>
                            {{form.cliente}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.tipo.label}}
                            </label>
                            {{form.tipo}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.estado.label}}
                            </label>
                            {{form.estado}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Buscar</button>
                    <a type="button" class="btn btn-secondary" href="{% url "Proyecto" %}">Limpiar</a>
                </form>
            </div>
            <h5 class="card-title mb-0">Resultados {{cliente}}</h5>
        
            <div>
                {% if proyectos %}
                    {% for proyecto in proyectos %}
                        <div class="card m-3">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{{proyecto.FK_CLIENTE}}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{proyecto.ST_DESCRIPCION_PROYECTO}}</p>
                                <div class="row">
                                    <div class="d-flex">
                                        <div class="p-2 w-100">
                                            <h6>
                                                <span class="badge bg-info">{{proyecto.FK_ESTADO_PROYECTO}}</span>
                                                <span class="badge bg-primary">{{proyecto.FK_TIPO_SERVICIO}}</span>
                                            </h6>
                                        </div>
                                        <div class="p-2 flex-shrink-1">
                                            <a href="{% url "DetailsProyecto" proyecto.SK_PROYECTO %}" class="btn btn-pill btn-secondary">Detalle</a>      
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>
                        <div class="alert alert-warning alert-outline-coloured alert-dismissible m-3" role="alert">
                            <div class="alert-icon">
                                <i class="far fa-fw fa-bell"></i>
                            </div>
                            <div class="alert-message">
                                No hay resultados de la búsqueda
                            </div>

                            <a class="btn-close" href="{% url "Proyecto" %}"></a>
                        </div>
                    </div>
                {% endif %}

                <nav class="p-2" aria-label="Page navigation sample">
                    {% if proyectos.has_other_pages %}
                      <ul class="pagination justify-content-end">
                            {% if proyectos.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{proyectos.previous_page_number}}"><i class="fas fa-angle-left"></i></a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                            {% endif %}
                            {% for i in proyectos.paginator.page_range %}
                                {% if proyectos.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if proyectos.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{proyectos.next_page_number}}"><i class="fas fa-angle-right"></i></a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                            {% endif %}
                      </ul>
                    {% endif %}
                </nav>
    </div>
</div>
{% endblock %}
