{% extends 'General/dashboard.html' %}

{% block title %} Registro de Proyecto {% endblock %}

{% block main %}

<div class="header">
    <h1 class="header-title">
       Renta de Equipo
    </h1>
</div>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Información general</h5>
        </div>
        <div class="card-body">
          <form method="POST" action = "{% url 'rentaEquipoForm'%}">
            {% csrf_token %}
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="inputEmail4">
                  {{form.ST_TIPO_USO.label}}
                  <span class="text-danger">*</span>
                </label>
                {{form.ST_TIPO_USO}} 
                {% if form.ST_TIPO_USO.errors%} 
                  {% for error in form.ST_TIPO_USO.errors %}
                  <small class="form-text d-block text-danger">{{ error }}</small>
                  {% endfor %} 
                {% endif %}
              </div>
              <div class="mb-3 col-md-6">
                <label for="inputEmail4">
                  {{form.ST_OBSERVACION_EQUIPO.label}}
                  <span class="text-danger">*</span>
                </label>
                {{form.ST_OBSERVACION_EQUIPO}} 
                {% if form.ST_OBSERVACION_EQUIPO.errors %} 
                  {% for error in form.ST_OBSERVACION_EQUIPO.errors %}
                  <small class="form-text d-block text-danger">{{ error }}</small>
                  {% endfor %} 
                {% endif %}
              </div>
            </div>
            <div class="row justify-content-end mt-3">
              <div class="col-auto">
                <a class="btn btn-danger" href="{% url 'Proyecto' %}">Cancelar</a>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success">Siguiente</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}