{% extends 'General/dashboard.html' %}

{% block title %} Administrador {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Nuevo Proyecto
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Registro</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="smartwizard-default-primary" class="wizard wizard-primary mb-4">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="#default-primary-step-1">Información General<br /><small>Detalles generales del proyecto</small></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#default-primary-step-2">Especificaciones<br /><small>Especificaciones del proyeto: {{ tipoServicio }}</small></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#default-primary-step-3">Empleado<br /><small>Selección de los empleados del proyecto</small></a>
                        </li>
                    </ul>
                    <form method="POST" >
                        {% csrf_token %}
                        <div class="tab-content">
                            <div id="default-primary-step-1" class="tab-pane" role="tabpanel">
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="inputEmail4">
                                            {{form.FK_CLIENTE.label}}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{form.FK_CLIENTE}}
                                        {% if form.FK_CLIENTE.errors %}
                                            {% for error in form.FK_CLIENTE.errors %}
                                            <small class="form-text d-block text-danger">{{ error }}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="inputEmail4">
                                            {{form.FK_TIPO_SERVICIO.label}}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{form.FK_TIPO_SERVICIO}}
                                        {% if form.FK_TIPO_SERVICIO.errors %}
                                            {% for error in form.FK_TIPO_SERVICIO.errors %}
                                            <small class="form-text d-block text-danger">{{ error }}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="inputEmail4">
                                            {{form.ST_DIRECCION_PROYECTO.label}}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{form.ST_DIRECCION_PROYECTO}}
                                        {% if form.ST_DIRECCION_PROYECTO.errors %}
                                            {% for error in form.ST_DIRECCION_PROYECTO.errors %}
                                            <small class="form-text d-block text-danger">{{ error }}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="inputEmail4">
                                            {{form.ST_DESCRIPCION_PROYECTO.label}}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{form.ST_DESCRIPCION_PROYECTO}}
                                        {% if form.ST_DESCRIPCION_PROYECTO.errors %}
                                            {% for error in form.ST_DESCRIPCION_PROYECTO.errors %}
                                            <small class="form-text d-block text-danger">{{ error }}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="default-primary-step-2" class="tab-pane" role="tabpanel">
                                {% if form.FK_TIPO_SERVICIO.value == "2" %}
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label for="inputEmail4">
                                                {{formEspecificaciones.ST_TIPO_USO.label}}
                                                <span class="text-danger">*</span>
                                            </label>
                                            {{formEspecificaciones.ST_TIPO_USO}}
                                            {% if formEspecificaciones.ST_TIPO_USO.errors %}
                                                {% for error in form.ST_TIPO_USO.errors %}
                                                <small class="form-text d-block text-danger">{{ error }}</small>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label for="inputEmail4">
                                                {{formEspecificaciones.ST_OBSERVACION_EQUIPO.label}}
                                                <span class="text-danger">*</span>
                                            </label>
                                            {{formEspecificaciones.ST_OBSERVACION_EQUIPO}}
                                            {% if formEspecificaciones.ST_OBSERVACION_EQUIPO.errors %}
                                                {% for error in form.ST_OBSERVACION_EQUIPO.errors %}
                                                <small class="form-text d-block text-danger">{{ error }}</small>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>

                                {% elif form.FK_TIPO_SERVICIO.value == "3" %}
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="inputEmail4">
                                            {{formEspecificaciones.ST_NOMBRE_TECNICO.label}}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{formEspecificaciones.ST_NOMBRE_TECNICO}}
                                        {% if formEspecificaciones.ST_NOMBRE_TECNICO.errors %}
                                            {% for error in form.ST_NOMBRE_TECNICO.errors %}
                                            <small class="form-text d-block text-danger">{{ error }}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="inputEmail4">
                                            {{formEspecificaciones.ST_OBSERVACION_DESIMETRO.label}}
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{formEspecificaciones.ST_OBSERVACION_DESIMETRO}}
                                        {% if formEspecificaciones.ST_OBSERVACION_DESIMETRO.errors %}
                                            {% for error in form.ST_OBSERVACION_DESIMETRO.errors %}
                                            <small class="form-text d-block text-danger">{{ error }}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                
                            {% else %}

                                <h1>En desarrollo</h1>
                                {% endif %}
                            </div>
                            <div id="default-primary-step-3" class="tab-pane" role="tabpanel">
                                Step Content 3
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            
            $("#smartwizard-default-primary").smartWizard({
				theme: "default",
				showStepURLhash: false,
                selected: 1,
                lang: {
                    next: 'Siguiente',
                    previous: 'Anterior'
                },
			});

            $(".sw-btn-next").css({
                "background-color": "white",
                "color": "gray",
                "border-color": "gray"
                
            });

            $(".sw-btn-prev").css({
                "background-color": "white",
                "color": "gray" ,
                "border-color": "gray"
            });

            $(".select2").each(function() {
				$(this)
					.wrap("<div class=\"position-relative\"></div>")
					.select2({
						placeholder: "Seleccione una opción",
						dropdownParent: $(this).parent()
					});
			})

        });
    </script>
{% endblock %}