{% extends 'General/dashboard.html' %}
{% load static %}

{% block title %} Equipo {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Detalle del Equipo.
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Equipo' %}">Equipo</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalle</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center">
                <div class="card-actions float-end">
                    <div class="d-inline-block dropdown show">
                        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                            <i class="align-middle" data-feather="more-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{% url 'EditEquipo' equipo.pk %}">Editar Información</a>
                        </div>
                    </div>
                </div>
                <a href="{{equipo.ST_IMG_EQUIPO.url}}" title="{{ equipo.ST_IMG_EQUIPO.name }}" target="_blank">
                    <img src="{{ equipo.ST_IMG_EQUIPO.url }}" alt="image" class="img-fluid" style="max-width: 25%;">
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-title mb-0">Información del Equipo.</h6>
                <table class="table table-sm my-2">
                    <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{equipo.ST_NOMBRE_EQUIPO}}</td>
                    </tr>
                    <tr>
                        <th>Tipo</th>
                        <td>{{equipo.FK_TIPO_EQUIPO.ST_TIPO_EQUIPO}}</td>
                    </tr>
                    <tr>
                        <th>Descripción</th>
                        <td>{{equipo.ST_DESCRIPCION_EQUIPO}}</td>
                    </tr>
                    <tr>
                        <th>Fecha de ingreso</th>
                        <td>{{ equipo.FC_INGRESO }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}