{% extends 'General/dashboard.html' %}

{% block title %} Equipo {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Editar Equipo
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Equipo' %}">Equipo</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <h3 class="card-title">Información general</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.ST_NOMBRE_EQUIPO.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.ST_NOMBRE_EQUIPO}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.FK_TIPO_EQUIPO.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.FK_TIPO_EQUIPO}}
                            {% if form.FK_TIPO_EQUIPO.errors %}
                                {% for error in form.FK_TIPO_EQUIPO.errors %}
                                <small class="form-text d-block text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="inputEmail4">
                                {{form.ST_DESCRIPCION_EQUIPO.label}}
                                <span class="text-danger">*</span>
                            </label>
                            {{form.ST_DESCRIPCION_EQUIPO}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label w-100">{{form.ST_IMG_EQUIPO.label}}</label>
                            {{form.ST_IMG_EQUIPO}}
                            <small class="form-text d-block text-muted">No es obligatorio.</small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{% url 'Equipo' %}" class="btn btn-danger ms-2">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            $(".select2").each(function() {
				$(this)
					.wrap("<div class=\"position-relative\"></div>")
					.select2({
						placeholder: "Seleccione una opción",
						dropdownParent: $(this).parent()
					});
			})
        });
    </script>
{% endblock %}