{% extends 'General/dashboard.html' %}

{% block title %} Equipo {% endblock %}

{% block main %}
<div class="header">
    <h1 class="header-title">
        Gestión de Equipo
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
            <li class="breadcrumb-item"><a href="{% url 'Equipo' %}">Equipo</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-end">
                    {% if perms.Equipo.add_equipo %}
                        <a href="{% url 'AddEquipo' %}" class="me-1">
                            Nuevo Equipo
                            <i class="align-middle" data-feather="plus"></i>
                        </a>
                    {% endif %}
                </div>
                <h5 class="card-title mb-0">Equipos</h5>
            </div>
            <div class="card-body">
                <table id="tbl-Equipos" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for equipo in equipos %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td class="text-nowrap">{{equipo.ST_NOMBRE_EQUIPO}}</td>
                                <td>{{equipo.ST_DESCRIPCION_EQUIPO}}</td>
                                <td>{{equipo.FK_TIPO_EQUIPO.ST_TIPO_EQUIPO}}</td>
                                <td class="text-nowrap">
                                    <!--Privilegio para ver equipo-->
                                    {% if perms.Equipo.view_equipo %}
                                        <a class="btn btn-primary" href="{% url 'DetailsEquipo' equipo.pk %}"><i class="far fa-eye"></i></a>
                                    {% endif %}
                                    <!--Privilegio para editar equipo-->
                                    {% if perms.Equipo.change_equipo %}
                                        <a class="btn btn-info" href="{% url 'EditEquipo' equipo.pk %}"><i class="far fa-edit"></i></a>
                                    {% endif %}
                                    <!--Privilegio para eliminar equipo-->
                                    {% if perms.Equipo.delete_equipo %}
                                        <a class="btn btn-danger" data-url="{% url 'DeleteEquipo' equipo.pk %}" data-action="eliminar" onclick="confirmStatus(this)"><i class="fas fa-trash"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        initTable("#tbl-Equipos","equipos");
    });

    function confirmStatus(link) {
        var url = link.getAttribute('data-url');
        var action = link.getAttribute('data-action');
        showConfirm(url,action,"equipo");
    }
</script>
{% endblock %}