{% extends 'General/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="splash active">
    <div class="splash-icon"></div>
</div>

<main class="main h-100 w-100">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Bienvenido a SIGPOGAC</h1>
                        <p class="lead">
                            CONAGRISE S.A. de C.V.
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <form method = "POST">
                                    {% csrf_token %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
											<div class="alert-icon">
												<i class="far fa-fw fa-bell"></i>
											</div>
											<div class="alert-message">
												<strong>{{message}}</strong>
											</div>
											<button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
										</div>
                                    {% endfor %}
                                    <div class="mb-3">
                                        <label>Usuario:</label>
                                        <input class="form-control form-control-lg" type="text" name="usuario" placeholder="Ingrese su usuario" maxlength="25"/>
                                    </div>
                                    <div class="mb-3">
                                        <label>Contraseña:</label>
                                        <input class="form-control form-control-lg" type="password" name="password" placeholder="Ingrese su contraseña" maxlength="25"/>
                                        <small>
                                            <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
                                        </small>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-lg btn-primary">Ingresar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}