{% extends 'General/base.html' %}

{% block title %} Restablecer Contraseña{% endblock %}

{% block content %}
<nav class="navbar navbar-expand navbar-theme" style = "background-color: #153d77">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown ms-lg-2">
                <a class="nav-link active" href="{% url 'login' %}"> Inicio de sesión</a>
            </li>
        </ul>
    </div>
</nav>
    <main class="main h-100 w-100">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">
                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <div class = "m-5 text-center">
                                        <h3 class = "card-header">¿Olvidaste tu contraseña? </h3>
                                        <div class = "p-2 text-center">
                                            <p class = "text-muted">Ingresa tu dirección de correo electrónico y te enviaremos
                                                un correo electrónico para que puedas restablecer tu constraseña.</p>
                                            <form method = "post">
                                                {% csrf_token %}
                                                {{form}}
                                                <input class = "btn btn-primary mt-4" type = "Submit" value = "Aceptar">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}