{% extends 'General/base.html' %}
{% block title %} Restablecer Contraseña{% endblock %}

{% block content %}
<nav class="navbar navbar-expand navbar-theme" style = "background-color: #153d77">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown ms-lg-2">
                <a class="nav-link active" href="{% url 'login' %}"> Inicio de sesión</a>
            </li>
        </ul>
    </div>
</nav>
<main class="main h-100 w-100">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <div class = "m-5 text-center" style="max-width: 50rem;">
                                    <div class = "col text-center">
                                        <h3 class = "card-header">Correo electrónico enviado</h3>
                                        <i class="me-2 fas fa-fw fa-check-circle fa-8x" style= "color: #0ca678;"></i>
                                    </div>
                                    <div class = "card-body p-2 text-center">
                                        <p class = "mt-3 text-muted">Te hemos enviado un correo electrónico con las instrucciones para restablecer tu contraseña. Recibirás el correo en breve,
                                            sí no recibes el correo electrónico asegurate que la dirección que ingresaste es correcta y es con la que te encuentras registrado
                                            en nuestro sistema. ¡No olvides revisar tu carpeta de correo no deseado o spam!
                                        </p>
                                        <div class = "mt-4 text-center">
                                            <p>¿No recibiste nuestro correo electrónico?<a href="/restorePassword" class="link-primary"> Haz clic aquí para intentarlo de nuevo.</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}